* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 100%;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #F05244;
}

#menu {
    font-size: 110%;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
    display: flex;
    justify-content: flex-end;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    position: absolute;
    background-color: #ffffff;
    width: fit-content;
    right: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}


#nav-toggle:checked~nav {
    display: flex;
    flex-direction: column;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 150px;
    height: 100px;
}

#display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../images/bg.png) no-repeat center/cover;
}

#display h1 {
    padding-top: 40px;
    padding-bottom: 5px;
    letter-spacing: 10px;
    color: #F05244;
    text-align: center;
}

#display h3 {
    color: #AB2D8E;
}

#display p {
    padding: 20px 0;
    color: #ffffff;
}

#showcase {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 40px;
}

.poster {
    width: 220px;
    height: 300px;
    border: 1px solid black;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 5px 10px 18px #F05244;
}

.course1 {
    background: url(/assets/images/hairspray.jpg) no-repeat center/cover;
}

.course2 {
    background: url(/assets/images/rocky.jpg) no-repeat center/cover;
}

.course3 {
    background: url(/assets/images/lesmiserables.jpg) no-repeat center/cover;
}

.course4 {
    background: url(/assets/images/wizardofoz.jpg) no-repeat center/cover;
}

#page-bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#page-bottom h3 {
    text-align: center;
    padding-top: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.testimonial {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.frame {
    width: 100px;
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.041);
    margin: 0 10px 10px 10px;
    border-radius: 50%;
}

.card {
    width: 250px;
    height: 350px;
    border: 1px solid rgba(0, 0, 0, 0.007);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #26174b6e;
}

.card p {
    text-align: center;
    padding-bottom: 5px;
}

.person1 {
    background: url(/assets/images/person1.jpg) no-repeat center/cover;
}

.person2 {
    background: url(/assets/images/person2.jpg) no-repeat center/cover;
}

.person3 {
    background: url(/assets/images/person3.jpg) no-repeat center/cover;
}

.youtube {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    width: 500px;
    height: 312px;
    border-radius: 3px;
}

footer {
    width: 100%;
    text-align: center;
    background-color: lightgray;
    height: 60px;
}

@media screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }

    .youtube {
        margin-bottom: 40px;
    }
 }