@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #F05244;
    background-color: #fcdad7;
}

#logo {
    width: 150px;
    height: max-content;
}

header h1 {
    font-size: 24px;
    text-align: center;
    color: #26174B;
}

#menu {
    font-size: 110%;
    list-style-type: none;
    background-color: #fcdad7;
}

#menu>li {
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
}

.active {
    border-bottom: 2px solid #F05244;
}

.styled-button {
    background-color: #AB2D8E;
    border: none;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
}

.styled-button:hover {
    background-color: #F05244;
    text-decoration: none;
}

nav {
    position: absolute;
    width: fit-content;
    right: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
    background-color: #fcdad7;
}

#nav-toggle:checked~nav {
    display: flex;
    flex-direction: column;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg {
    background: linear-gradient(to bottom, #26174B, #fcdad7);
}

main {
        /* Add margin at the top to prevent content from being covered by the header */
        margin-top: 70px;
}

#display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../images/bg.png) no-repeat center/cover;
}

#display h2 {
    font-size: 50px;
    letter-spacing: 8px;
}

.orange {
    padding: 40px 0;
    color: #F05244;
    text-align: center;
}

.dark-indigo {
    padding: 40px 1rem;
    color: #26174B;
    text-align: center;
}

.white {
    padding: 20px 0;
    color: #ffffff;
    font-weight: bold;                        
}

#showcase {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 40px;
    box-shadow: 0 2px 2px #F05244;
}

.poster {
    width: 220px;
    height: 300px;
    margin: 20px;
    border-radius: 10px;
}

#showcase .poster:hover {
    cursor: pointer;
    box-shadow: 0 0 50px 10px #F05244;
}

.course1 {
    background: url(/assets/images/hairspray.jpg) no-repeat center/cover;
}

.course2 {
    background: url(/assets/images/rocky.jpg) no-repeat center/cover;
}

.course3 {
    background: url(/assets/images/lesmiserables.jpg) no-repeat center/cover;
}

.course4 {
    background: url(/assets/images/wizardofoz.jpg) no-repeat center/cover;
}

#page-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fcdad7;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.testimonial {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.frame {
    width: 100px;
    height: 100px;
    border: 3px solid #F05244;
    margin: 0 10px 10px 10px;
    border-radius: 50%;
}

.card {
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid #F05244;
    box-shadow: 10px 10px 5px #26174b6e;
    background: url(../images/bg.png) no-repeat center/cover;
}

.card p:first-of-type {
    color: #F05244;
}

.card p {
    text-align: center;
    padding: 10px 0;
    color: #ffffff;
}

.person1 {
    background: url(/assets/images/person1.jpg) no-repeat center/cover;
}

.person2 {
    background: url(/assets/images/person2.jpg) no-repeat center/cover;
}

.person3 {
    background: url(/assets/images/person3.jpg) no-repeat center/cover;
}

iframe {
    width: 80%;
    height: 400px;
    padding-bottom: 40px;
}

#story {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    padding: 0 2rem;
    background: url(../images/bg.png) no-repeat center/cover;
    color: #ffffff;
    padding-bottom: 40px;
}

#team {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #fcdad7;
    box-shadow: 0 -2px 2px #F05244;
    padding-bottom: 40px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 3px solid #F05244;
    margin: 20px;
    background: url(../images/bg.png) no-repeat center/cover;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #26174b6e;
}

.courses-container .description {
    padding: 30px 20px 20px;
}

.portrait {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 0 10px 10px;
    border: 3px solid #F05244;
}

.profile-photo1 {
    background: url(../images/founder.jpg) no-repeat center/cover;
}

.profile-photo2 {
    background: url(../images/manager.jpg) no-repeat center/cover;
}

.profile-photo3 {
    background: url(../images/acting.jpg) no-repeat center/cover;
}

.profile-photo4 {
    background: url(../images/dancing.jpg) no-repeat center/cover;
}

.profile-photo5 {
    background: url(../images/singing.jpg) no-repeat center/cover;
}

.profile-photo6 {
    background: url(../images/pianist.jpg) no-repeat center/cover;
}

.description p {
    text-align: justify;
    padding: 10px 0;
    color: #ffffff;
}

.name-pic p {
    justify-content: center;
    text-align: center;
    color: #F05244;
}

#courses {
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}

#courses .description p:nth-last-child(-n+2) {
    text-align: center;
}

#gallery {
    background: url(../images/bg.png) no-repeat center/cover;
    padding: 0 20px 40px;
}

#photos img {
    width: 100%;
    border: 3px solid #F05244;
    border-radius: 10px;
    margin-bottom: 20px;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 0 40px;
    border: 3px solid #F05244;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #26174b6e;
    background: url(../images/bg.png) no-repeat center/cover;
    color: #ffffff;
    font-weight: bold; 
    padding-bottom: 40px;
}

#contact p {
    padding-top: 40px;
    font-size: 26px;
    color: #26174B;
}

#full-name, #email {
    display: flex;
    height: 2rem;
    width: 70%;
    border-radius: 5px;
    padding: 2px;
}

#message {
    width: 70%;
    border-radius: 5px;
    padding: 2px;
}

.other-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #302154;
    color: #AB2D8E;
    height: 100px;
    box-shadow: 0 -2px 2px #F05244;
    padding: 20px;
    font-weight: bold;
    text-align: center;
}

footer div {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

footer i {
    color: #AB2D8E;
}

@media screen and (min-width: 320px) {
    header {
        padding: 0;
    }

    .nav-toggle-label {
        padding: 1rem;
    }

    #display p {
        text-align: center;
        padding: 0 20px 40px;
    }

    .container {
        width: 100%;
        padding-bottom: 40px;
    }
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 28px;
    }

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding: 0;
    }

    #menu>li {
        padding: 10px;
        margin: 0;
    }

    #menu>li:hover {
        text-decoration: underline;
        text-decoration-color: #F05244;
        text-decoration-thickness: 2px;
    }

    .styled-button a {
        text-decoration: none;
    }

    #menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }

    .nav-toggle-label {
        display: none;
    }

    #showcase {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    iframe {
        height: 600px;
    }

    #team {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .description {
        display: flex;
        flex-direction: row;
    }

    .reverse {
        display: flex;
        flex-direction: row-reverse;
    }

    .description p {
        padding: 20px;
    }

    .name-pic {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    #courses {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #courses .description {
        display: flex;
        flex-direction: column;
    }

    #photos {
        column-count: 2;
    }

    #full-name, #email {
        width: 40%;
    }
}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: 34px;
    }

    section p {
        max-width: 800px;
    }

    .team-container {
        width: 900px;
        display: flex;
        flex-direction: column;
    }

    .description {
        width: 50rem;
    }

    .reverse {
        margin-left: auto;
    }

    #courses {
        display: flex;
        flex-direction: column;
    }

    #photos {
        column-count: 3;
    }
    
    #contact-form {
        max-width: 800px;
    }
}

@media screen and (min-width: 1440px) {
    .team-container {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .courses-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .description {
        width: calc(50% - 40px);
    }

    #courses .description {
        max-width: 600px;
        margin: 40px;
    }
}